.card__like-button {
  background-image: url(../../../images/like-icon.svg);
  min-width: 23px;
  height: 20px;
  padding: 0;
  margin: 0 20px 0 0;
  transition: 0.35s ease-in-out;
  cursor: pointer;
  background-color: white;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20px;
  right: -2px;
}

.card__like-button:hover {
  opacity: 0.5;
}
