.header {
  max-width: 880px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    max-width: 100%;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }
}
