.popup__text {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    text-align: center;
    width: 358px;
    display: block;
    margin: 30px auto 93px;
  }
  
  @media screen and (max-width: 425px) {
    .popup__title {
      font-size: 18px;
      line-height: 22px;
      margin: 25px 0 68px 22px;
    }
  }
  