.register__error-message {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-top: -5px;
  min-height: 30px;
  position: relative;
  top: 11px;
}
